* text=auto eol=lf
*.sqlite -text
*.pdf -text
/docs/images -text

*.php diff=php


/docs export-ignore
/src/EPSG export-ignore
/resources export-ignore
/tests export-ignore
/.* export-ignore
/*.dist export-ignore
