includes:
  - phpstan-baseline.neon.dist

parameters:
  level: 9
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - src
  excludePaths:
    analyse:
      - src/CoordinateOperation/Params
      - src/EPSG/Import
      - src/Geometry/Extents
