parameters:
	ignoreErrors:
		-
			message: "#^Return type \\(array\\<float\\>\\) of method PHPCoord\\\\CoordinateOperation\\\\NADCON5Grid\\:\\:getValues\\(\\) should be compatible with return type \\(array\\<PHPCoord\\\\UnitOfMeasure\\\\Angle\\\\Angle\\|PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\>\\) of method PHPCoord\\\\CoordinateOperation\\\\Grid\\:\\:getValues\\(\\)$#"
			count: 1
			path: src/CoordinateOperation/NADCON5Grid.php

		-
			message: "#^Method PHPCoord\\\\CoordinateReferenceSystem\\\\Projected\\:\\:getDerivingConversion\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/CoordinateReferenceSystem/Projected.php

		-
			message: "#^Method PHPCoord\\\\Datum\\\\Datum\\:\\:getEllipsoid\\(\\) should return PHPCoord\\\\Datum\\\\Ellipsoid but returns PHPCoord\\\\Datum\\\\Ellipsoid\\|null\\.$#"
			count: 1
			path: src/Datum/Datum.php

		-
			message: "#^Method PHPCoord\\\\Datum\\\\Datum\\:\\:getPrimeMeridian\\(\\) should return PHPCoord\\\\Datum\\\\PrimeMeridian but returns PHPCoord\\\\Datum\\\\PrimeMeridian\\|null\\.$#"
			count: 1
			path: src/Datum/Datum.php

		-
			message: "#^Cannot call method registerFile\\(\\) on Opis\\\\JsonSchema\\\\Resolvers\\\\SchemaResolver\\|null\\.$#"
			count: 1
			path: src/Geometry/GeoJSON/GeoJSON.php

		-
			message: "#^Call to an undefined method PHPCoord\\\\Point\\\\Point\\:\\:asGeographicValue\\(\\)\\.$#"
			count: 1
			path: src/Point/CompoundPoint.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/Point/CompoundPoint.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Point/CompoundPoint.php

		-
			message: "#^Call to an undefined method PHPCoord\\\\UnitOfMeasure\\\\UnitOfMeasure\\:\\:multiply\\(\\)\\.$#"
			count: 14
			path: src/Point/GeocentricPoint.php

		-
			message: "#^Cannot call method getUnitOfMeasureId\\(\\) on PHPCoord\\\\CoordinateSystem\\\\Axis\\|null\\.$#"
			count: 3
			path: src/Point/GeocentricPoint.php

		-
			message: "#^Instanceof between PHPCoord\\\\CoordinateReferenceSystem\\\\Geocentric and PHPCoord\\\\CoordinateReferenceSystem\\\\Compound will always evaluate to false\\.$#"
			count: 1
			path: src/Point/GeocentricPoint.php

		-
			message: "#^Cannot call method getUnitOfMeasureId\\(\\) on PHPCoord\\\\CoordinateSystem\\\\Axis\\|null\\.$#"
			count: 3
			path: src/Point/GeographicPoint.php

		-
			message: "#^Instanceof between PHPCoord\\\\CoordinateReferenceSystem\\\\Geographic2D\\|PHPCoord\\\\CoordinateReferenceSystem\\\\Geographic3D and PHPCoord\\\\CoordinateReferenceSystem\\\\Compound will always evaluate to false\\.$#"
			count: 1
			path: src/Point/GeographicPoint.php

		-
			message: "#^Cannot call method multiply\\(\\) on mixed\\.$#"
			count: 1
			path: src/Point/Point.php

		-
			message: "#^Instanceof between PHPCoord\\\\CoordinateReferenceSystem\\\\Projected and PHPCoord\\\\CoordinateReferenceSystem\\\\Compound will always evaluate to false\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Parameter \\#1 \\$easting of class PHPCoord\\\\Point\\\\BritishNationalGridPoint constructor expects PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length, PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\|null given\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Parameter \\#1 \\$easting of class PHPCoord\\\\Point\\\\IrishGridPoint constructor expects PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length, PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\|null given\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Parameter \\#1 \\$easting of class PHPCoord\\\\Point\\\\IrishTransverseMercatorPoint constructor expects PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length, PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\|null given\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Parameter \\#2 \\$northing of class PHPCoord\\\\Point\\\\BritishNationalGridPoint constructor expects PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length, PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\|null given\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Parameter \\#2 \\$northing of class PHPCoord\\\\Point\\\\IrishGridPoint constructor expects PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length, PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\|null given\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Parameter \\#2 \\$northing of class PHPCoord\\\\Point\\\\IrishTransverseMercatorPoint constructor expects PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length, PHPCoord\\\\UnitOfMeasure\\\\Length\\\\Length\\|null given\\.$#"
			count: 1
			path: src/Point/ProjectedPoint.php

		-
			message: "#^Left side of \\|\\| is always false\\.$#"
			count: 1
			path: src/UnitOfMeasure/Angle/Degree.php

		-
			message: "#^Call to an undefined method PHPCoord\\\\UnitOfMeasure\\\\UnitOfMeasure\\:\\:divide\\(\\)\\.$#"
			count: 1
			path: src/UnitOfMeasure/Rate.php

		-
			message: "#^Call to an undefined method PHPCoord\\\\UnitOfMeasure\\\\UnitOfMeasure\\:\\:multiply\\(\\)\\.$#"
			count: 1
			path: src/UnitOfMeasure/Rate.php

		-
			message: "#^Method PHPCoord\\\\UnitOfMeasure\\\\Time\\\\Year\\:\\:asDateTime\\(\\) should return DateTimeImmutable but returns DateTimeImmutable\\|false\\.$#"
			count: 1
			path: src/UnitOfMeasure/Time/Year.php
